.chatbubble { 
  -fx-background-color: #375c82;
  -fx-background-radius: 0px;
}

.loginButton:hover{
		-fx-background-color: #214a74 !important;
}
.edgy{
	  -fx-background-radius: 0px;
}


.darkBlue{
	-fx-background-color: #0B3867 !important;
}
.mediumBlue{
	-fx-background-color: #214a74 !important;
}
.lightBlue{
	-fx-background-color: #375c82 !important;
}

.chatbubble:hover, 
.chatbubble:focus, 
.chatbubble:active, 
.chatbubble.active, 
.open .dropdown-toggle.chatbubble { 
   -fx-background-color: #214a74;
   -fx-border-color: #ccc;
   -fx-border-width: 0px 0px 0px 5px;
} 
 

